/* Fonte elegante e moderna */

body, html {
  height: 100%;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: url('/static/images/background-game.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.login-box {
  background: rgba(0, 0, 0, 0.6);
  padding: 40px 60px;
  border-radius: 12px;
  box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.4);
  text-align: center;
  width: 320px;
  transition: box-shadow 0.4s ease-in-out;
}

.login-box:hover {
  box-shadow: 0 0 25px 10px rgba(255, 255, 255, 0.7);
}

h1 {
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 2.2em;
  letter-spacing: 1.2px;
}

a.login-btn {
  display: inline-block;
  text-decoration: none;
  background: #1e90ff;
  color: white;
  font-weight: 600;
  padding: 15px 45px;
  border-radius: 50px;
  font-size: 1.2em;
  transition: background 0.3s ease;
}

a.login-btn:hover {
  background: #63b3ff;
  box-shadow: 0 0 15px #63b3ff;
}


